body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* span {
  width: 100% !important;
  font-weight: normal !important;
} */

.kebfuV {
  display: none;
}

.bfQVbl {
  margin-bottom: 0 !important;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.column {
  height: 400px;
  width: 200px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.first-column {
  background-color: #f5ffea;
}

.second-column {
  background-color: #fffbf5;
}

.movable-item {
  border-radius: 10px;
  background-color: #fff3f3;
  height: 100px;
  width: 170px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.title label {
  font-size: 1.2em;
}

.status {
  font-size: 1.2em;
  margin-top: 0.8em;
}

.status label {
  margin-right: 0.5em;
}

.assignee {
  font-size: 1.2em;
  margin-top: 0.8em;
}

.assignee label {
  margin-right: 0.5em;
}

section > header > span {
  width: 100% !important;
  text-align: center;
}

article > header > span {
  width: 100% !important;
  font-weight: normal !important;
}
