@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --bg-body: #333;
  --bg-color: #222;
  --con-color: #fafafa;
  --bg-circle: #ff7979;
  --white-text: #fff;
  --grey-text: #333;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--bg-body);
  color: var(--bg-color);
  overflow-x: hidden;
  margin: 0;
}

.container {
  background-color: var(--con-color);
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}
.show-nav {
  transform: rotate(-20deg);
  .circle {
    transform: rotate(-70deg);
  }
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
  z-index: 999;
}

.circle {
  background-color: var(--bg-circle);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
  .open {
    cursor: pointer;
    position: absolute;
    border: none;
    top: 50%;
    left: 60%;
    height: 100px;
    background: transparent;
    font-size: 26px;
    color: var(--white-text);
  }
  .close {
    cursor: pointer;
    position: absolute;
    border: none;
    top: 60%;
    left: 50%;
    height: 100px;
    background: transparent;
    font-size: 26px;
    color: var(--white-text);
    transform: rotate(90deg);
    transform-origin: top left;
  }
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  left: 150px;
  bottom: 0;
  z-index: 999;
  ul {
    list-style: none;
    padding-left: 30px;
    li {
      text-transform: uppercase;
      color: var(--white-text);
      margin: 40px 0;
      transform: translateX(-100%);
      transition: transform 0.4s ease-in;
      transform: translateX(-150%);
    }
    :first-child {
      margin-left: 40px;
    }
    :nth-child(2) {
      margin-left: 50px;
      
    }
    :nth-child(3) {
      margin-left: 60px;
      
    }
  }
}

.content {
  max-width: 1000px;
  margin: 50px auto;
  img {
    max-width: 100%;
  }
  h1 {
    margin: 0;
  }
  span {
    color: var(--grey-text);
    font-style: italic;
  }
  p {
    color: var(--grey-text);
    line-height: 1.5;
  }
}
